@import '../../style/import/import';

.block__txt_img {
  &__text {
    grid-row: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    @include rwd-max(1024) {
      margin-bottom: 48px;
    }

    h2 {
      margin-bottom: 40px !important;
      color: $blue-primary;
    }

    .button {
      margin-top: 40px;
    }
  }

  &__image {
    grid-row: 1;
    figure {
      position: relative;
      height: 100%;
      min-height: 70vh;
      @include rwd-min(1024) {
        min-height: 580px;
      }

      img {
        border-radius: 30px;

        &.image_1 {
          border-radius: 30px;
          position: absolute;
          left: 0;
          top: 0;
          width: 60%;
          aspect-ratio: 1;
          height: auto;
        }

        &.image_2 {
          position: absolute;
          bottom: 0;
          right: 0;
          border-radius: 30px;
          width: 60%;
          aspect-ratio: 1;
          height: auto;
        }
      }
    }
  }
}