@import '../../style/import/import';

.block__cta {
  margin-bottom: 120px;
  @include rwd-max(1024) {
    margin-bottom: 80px;
  }

  .inner {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: $beige-light;
    padding: 60px 0;
    @include rwd-max(1024) {
      padding: 60px 0;
    }

    h2, p, a {
      margin-bottom: 48px;
      width: 65%;
      text-align: center;
    }

    h2 {
      color: $blue-primary;
    }

    p {
      font-size: 24px;
    }

    a {
      width: auto;
      margin-bottom: 0;
    }
  }
}