// social media + share buttons
.shrs,
.so_me {
  li {
    &:not(:last-child) {
      a {
        margin-bottom: 8px;
      }
    }
  }

  a {
    width: 28px;
    height: 28px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: $orange-warm;
    font-size: 16px;
    line-height: 0.8;
    color: $blue-dark;
    @include hover {
      color: #ffffff;
    }
  }
}

.shrs {
  a {
    @include hover {color: $tx}
  }
}

.so_me {
  a {
    @include hover {color: #fff}
  }
}
